body {
  background: #f8fafc;
}
.navbar-brand {
  font-weight: 700;
}
.card {
  border: 0;
}
.card{
    border: 0;
}
.btn-link {
  text-decoration: none;
}
textarea.form-control{
    resize: vertical;
}
